<!--
    Referencia para o frameword de graficos 
    https://echarts.apache.org/en/index.html 
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chart Example</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <row>
            <div id="main" style="width: 500px;height:300px;"></div>
        </row>
        <row>
            <div id="main2" style="width: 500px;height:300px;"></div>
        </row>
    </div>
    
    <script th:inline="javascript">
        /*<![CDATA[*/
        var data = /*[[${data}]]*/ [];
        var chart = echarts.init(document.getElementById('main'));
        var option = {
            title: {
                text: 'Sample Chart'
            },
            tooltip: {},
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [{
                name: 'Values',
                type: 'line',
                data: data,
                label: {
                    show: true,
                    position: 'top'
                },            }]
        };
        chart.setOption(option);


        var chart2 = echarts.init(document.getElementById('main2'));
        var option2 = {
            title: {
                text: 'Sample Chart'
            },
            tooltip: {},
            xAxis: {
                data: ['A', 'B', 'C', 'D', 'E']
            },
            yAxis: {},
            series: [{
                name: 'Values',
                type: 'bar',
                data: data,
                label: {
        show: true,
        position: 'top'
      },
            }]
        };
        chart2.setOption(option2);
        /*]]>*/
    </script>
</body>
</html>
